<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hungngo.themusicapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launch"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launch"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheMusicApp">
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />

        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".service.notification.MyReceiver"/>
    </application>

</manifest>
